language: minimal

branches:
  only:
  - master

deploy:
  provider: s3
  access_key_id: "AKIAV33WAIZJA6UBGJPZ"
  secret_access_key:
    secure: "Ds/qU4NXWRWSlTpJYiE/pJ13SnAGqvJjVe75ZQF/0yYdDNJ3BMDM8jI86FiMoqZ7ItCgl/OlMjAmOjx5SliYB7HxhQV3DFN21sroDHM9AHuvPToOMVco3n6rbZ7w2nxrOblXVBIbMoXYTcwq0/qJ9NHsxhlERYt22CX5Jip3oHxIm26IzN030NvS45+ztKj3NYKlDWF7kGDQbZpWN65X/GZ3+xwE0k8yJqwTBqz+RJu/aNp0JXg5JzKdt3uc6B3Pg/E/CpDCIwRTrKLRpj39Fra25+ihjAK7elby69HO5NyBsCWywBIu818B4dUvgZSgsRD2sGsjMEpKB50uKJcAVmAkFADg/aRDDui0sodhApuWKJPa1tYuGdPPdYUm8pUocAJxhlgMdkWXB57Vu4e4j0FbbJ2LQAB/M+fqjP1IUoEgZvmKTmgWOJ2g2Ak8YWoSjtVNoJpt33cxxsgfnmBRrgoQ74DIOeQhjAlMAL4pTjJac05+yay3OMQs955GKgxEF9s7R78MnQDvTFPtoqIRgH8cytyPJQK8Qvc/1V31PwwPNqEOfc8E2aUDvVWvBcLJcFDaMXnHLA+HHLsTs8DAMrS3JFwMpIWfU1oQTk5PADQ0+bINeVr+4Cv2XcXh62UJ1SidWNnxCewprYhJ5jI9brqADaehFsoK3FoqP20fHWY="
  bucket: bacon.com
  region: eu-central-1
  glob: *.html
  edge: true
